.game {
    padding: 24px;
}

.background {
    background-color: var(--color-light-blue);
    height: 660px;
}

.layout {
    height: 480px;
    padding: 18px;
    border: 3px solid var(--color-layout);
    border-radius: 12px;
    display: flex;
    justify-content: top;
    align-items: center;
    color: var(--color-white);
    flex-direction: column;
    gap: 30px;
    .bemVindo{
        font-size: 40px;
    }

    .texto{
        font-size: 20px;
    }

}